- var questionType = "var_"+toUnicode(qIndex+root_question.name);
if adIndex
	- var questionType = "var_"+toUnicode(qIndex+adIndex+root_question.name);

-var adExtra = "";
if adIndex != null
	-adExtra = "[advanced]["+adIndex+"]";

if qIndex != null
	-var name_index = "results["+qIndex+"]"+adExtra+"[index]";
	-var name_name = "results["+qIndex+"]"+adExtra+"[name]";
	-var name_value = "results["+qIndex+"]"+adExtra+"[value]";
	-var name_specify ="results["+qIndex+"]"+adExtra+"[specify]";
	-var name_type = "results["+qIndex+"]"+adExtra+"[type]";

.form-group(style='margin-bottom:0px').col-sm-12

	input(type='hidden', name=name_index, value=(adIndex) ? adIndex : qIndex)
	input(type='hidden', name=name_name, value=root_question.name)
	input(type='hidden', name=name_type, value=root_question.type)

	if root_question.type == "txt"
		.col-sm-12
			input.form-control(type='text', required="", name=name_value ng-model=questionType+"_value")


	if root_question.type == "list"
		.row.root_question.list.vert-align(ng-init=questionType+"_list = []")
			.col-sm-4
				.input-group
					input.form-control(ng-model=questionType+"_list_value")
					span.input-group-btn
						button.btn.btn-default(type='button',ng-disabled=questionType+"_list_value == '' || "+questionType+"_list_value == null", ng-click="console.log("+questionType+"_list_value);"+questionType+"_list.push("+questionType+"_list_value);"+questionType+"_list_value = ''")
							span.glyphicon.glyphicon-plus
			.col-sm-8
				.panel.panel-default
					.panel-heading= "List of "+root_question.name
					ul.list-group
						li.list-group-item(ng-repeat="list_answer in "+questionType+"_list track by $index") 
							.row
								.col-sm-10
									{{list_answer}}
								.col-sm-2
									button.btn.btn-custom.btn-sm(type='button', ng-click=questionType+"_list.splice($index, 1)")
										span.glyphicon.glyphicon-plus
							input(type='hidden', name=name_value, value='{{list_answer}}')

	if root_question.type == "mc"
		div(ng-init=questionType+"s = []")
		include question_mc

	if root_question.type == "dd"
		.col-sm-12
			select.form-control(name=name_value, ng-model=questionType+"_"+index+"_specify_answer", ng-init=questionType+"_"+index+"_specify = []", ng-change="hideModel("+questionType+"_"+index+"_specify,"+questionType+"_"+index+"_specify_answer, "+questionType+"_"+index+"_specify_hide')")
				option
				each answer in root_question.answers
					if answer.specify
						option(ng-init=questionType+"_"+index+"_specify.push('"+answer.name+"')")=answer.name
					else
						option(ng-init=questionType+"_"+index+"_specify_answer = '"+answer.name+"'")=answer.name
			span(ng-init=questionType+"_"+index+"_specify_answer = ''")
		if question.specify
			.row
				.col-sm-12(style='margin-top:10px',ng-show="question_"+index+"_specify_hide")
					label.col-sm-4 Specify:
					.col-sm-8
						input.form-control(type='text', ng-required="question_"+index+"_specify_hide", name=name_specify)