.modal.fade#previewModal(tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal")
					span(aria-hidden="true") &times;
					span.sr-only Close
				h4.modal-title.modal-primary(id="modalTitle") Preview

			.modal-body
				.row
					.col-sm-12
						div(ng-bind-html="renderedData")
					
			.modal-footer
				.row
					.col-sm-3
						a.btn-danger.btn.pull-left(data-dismiss="modal") Cancel
					.col-sm-3.col-sm-offset-1
						a.btn.btn-warning(type="button", ng-click="previewData()", ng-disabled="loading") 
							span(style='margin-right:5px')
								span(ng-show='loading') Refresh
								span(ng-hide='loading') Preview
							span.glyphicon.glyphicon-list-alt(ng-class='{"glyphicon-list-alt":!loading, "glyphicon-refresh":loading}')
					.col-sm-3.col-sm-offset-2
						a.btn-success.btn.pull-right(data-dismiss="modal") Save