extends ../template
block js
	script(type='text/javascript').
		var local_donation =!{JSON.stringify(donation)}; 

	//- -var image = ""
	//- if patient.consent && patient.consent.hasImage
	//- 	-image = "<img src='"+patient.consent.location+"' class='file-preview-image' alt='Consent' title='Consent'>";
	
	script(src='/js/controllers/add_data_controller.js')
	script(src="/js/bootstrap-lightbox.js")
	script(src="/js/bootstrap-lightbox.min.js")
	script.
		$("#input-20").fileinput({
			!{(image != "") ? 'initialPreview: ["'+image+'"],' : ""}
			browseClass: "btn btn-primary",
			uploadClass: "btn btn-success",
			removeClass: "btn btn-danger",
			showCaption: false,
			showRemove: false,
			showUpload: false,
		});
block content
	#page-wrapper.container-fluid(ng-controller='addDataController')
		h1.page-header
			.row
				.col-sm-9
					span Data Entry
				.col-sm-3
					a.btn.btn-info.dontPrint1(href='/sample/details/'+donation._id) 
						span Back
		if donation.media.length > 0
			.panel.panel-info
				.panel-heading(ng-init='carouselHide = false')
					.row
						.col-xs-10.col-sm-11
							h4 Images:
						.col-xs-2.col-sm-1
							a.btn.btn-info.btn-sm(ng-click='carouselHide = !carouselHide')
								span.glyphicon(class='glyphicon-{{(!carouselHide)? "eye-open" : "eye-close"}}')
				.panel-body(ng-hide='carouselHide')
					.row
						.col-md-12
							#carousel-data-entry.carousel.slide(data-ride="carousel", ng-non-bindable)
								ol.carousel-indicators
									each data, index in donation.media
										li(data-target="#carousel-data-entry" data-slide-to=index, class=(index == 0) ? "active" : "")

								.carousel-inner(role="listbox")
									each data, index in donation.media
										.item(class=(index == 0) ? "active" : "")
											img(src=data.location, alt="test").img-responsive
											.carousel-caption
												h3= data.title
												p= data.description

								a.left.carousel-control(href="#carousel-data-entry", role="button", data-slide="prev")
									span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
									span.sr-only Previous
								a.right.carousel-control(href="#carousel-data-entry", role="button" data-slide="next")
									span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
									span.sr-only Next
		.row
			.col-md-12
				.panel.panel-primary
					.panel-heading
						.row
							.col-xs-10.col-sm-11
								h4 Samples Media Files:
							.col-xs-2.col-sm-1
								a.btn.btn-warning.btn-sm(type="button", ng-click='newData()')
									span.glyphicon.glyphicon-plus
					.panel-body
						if donation.media.length > 0
							.row
								.col-md-12
									.table-responsive
										table.table
											thead
												tr
													th Title
													th Description
													th 

											tbody
												each data, index in donation.media
													tr

														td=data.title
														td=data.description
														th
															.btn-group
																a.btn-danger.btn.btn-sm(ng-click='deleteData("'+donation._id+'","'+index+'")')
																	span.glyphicon.glyphicon-remove
																a.btn-primary.btn.btn-sm(data-toggle="lightbox", href="#demoLightbox")
																	span.glyphicon.glyphicon-search
																a.btn-success.btn.btn-sm(ng-click='editData("'+donation._id+'","'+index+'","'+data._id+'")')
																	span.glyphicon.glyphicon-pencil
																#demoLightbox.lightbox.hide.fade(tabindex="-1", role="dialog", aria-hidden="true")
																	.lightbox-content
																		img(src=data.location)
																		.lightbox-caption
																		p Your caption here
						else
							.row
								.col-md-12
									h4.text-center No Media at this time
		include samples_add_data_modal.jade								
																				