extends template

block js
	script(src="/js/morris/morris-data.js")
block content
	#page-wrapper.container-fluid
		.row
			.col-lg-12
				h1.page-header Dashboard
			.row.one
				each icon in locals.navbar.dashboard
					.col-xs-6.col-md-2
						a.thumbnail(href=icon.location)
							img(src="/images/dashboard/"+icon.imgloc)
			.row.two
				.col-md-8
					.panel.panel-primary
						.panel-heading Area Chart: Patients, Surveys, Samples
						.panel-body
							#morris-area-chart
				.col-md-4
					.panel.panel-primary
						.panel-heading Total Number of: Patients, Surveys, Samples
						.panel-body
							#morris-donut-chart