extends ../template
block js
	if patients
		script(type='text/javascript').
			var local_patients =!{JSON.stringify(patients)}; 
	else
		script(type='text/javascript').
			var local_patients = null;

	script(src='/js/controllers/patient_view_controller.js')
block content
	#page-wrapper.container-fluid(ng-controller='patientViewController')

		h1.page-header
			.row
				.col-md-9 Patient Lookup
				.col-md-3
					a.glyphicon.glyphicons.user_add(href="patient/create", style="margin-top:3px;")
		.row.two
			.col-md-12
				.panel.panel-primary
					.panel-heading
						.row
							.col-md-2
								h4 Patients:
							.col-md-10
								.input-group
									input.form-control(type="text", placeholder="Filter", ng-model='search')
									span.input-group-btn
										button.btn.btn-default
											span.glyphicon.glyphicon-search
					.panel-body
						style.
							#detailsSample:before{color:#fff};
							.btn-sm{font-size:16px}
						if patients && patients.length > 0
							.table-responsive
								table.table
									thead
										tr
											th First Name
											th Last Name
											th DOB 
											th 
									tbody
										tr(ng-repeat='patient in patients | filter:search')
											td {{patient.firstname}}
											td {{patient.lastname}}
											td {{patient.dob | date:'MMM M, yyyy'}}
											td
												.btn-group
													a.btn-primary.btn.btn-sm(href="/patient/{{patient._id}}")
														span.glyphicon.glyphicon-search
													a.btn-success.btn.btn-sm(href="/donation/{{patient._id}}") 
														span.glyphicon.glyphicons.eyedropper#detailsSample
						else
							p.text-area No Patients At this time

						

