extends ../template
block js
	script(src='/js/controllers/sample_lookup_controller.js')

block content
	#page-wrapper.container-fluid(ng-controller="samplelookupController")
		.row
			.col-lg-12
				h1.page-header Sample Lookup
		.row.three
			.col-md-12
				.panel.panel-primary
					.panel-heading 
						h4 Sample Search:
					.panel-body			
						.row(style='margin-top:10px')
							.col-sm-10
								.row
									.col-sm-2
										label Advanced Parameters:
									.col-sm-10
										.input-group
											input.form-control(type="number", disabled, ng-model='question.querys.length')
											span.input-group-btn
												button.btn.btn-primary(type="button", ng-click="addKey()")
													span.glyphicon.glyphicon-plus
												button.btn.btn-warning(type="button",ng-disabled='question.querys.length<1', ng-click='question.querys.splice(keys.length-1,1)')
													span.glyphicon.glyphicon-minus
							.col-sm-1
								form(method='post', action='/sample/lookup')
									div(ng-repeat='query in question.querys track by $index')
										input(type='hidden', name="query[{{$index}}][key]" value='{{query.key}}')
										input(type='hidden', name="query[{{$index}}][value]" value='{{query.value}}')

									button.btn.btn-custom.btn-md(type="submit") Search
										span.glyphicon.glyphicon-search(style='margin-left:10px')
						.row.two
							.col-sm-12
								.container-fluid(ng-repeat="query in question.querys track by $index")
									.col-sm-1
										div
											a.btn-custom.btn-md.btn(ng-click='question.querys.splice($index,1)')
												span.glyphicon.glyphicon-remove
									.well.well-sm.col-sm-11
										.row
											.form-group
												.col-sm-6
													label Question:
													input.form-control(type="text", ng-model="query.key" typeahead="key for key in getQuery($viewValue)")

												.col-sm-6
													label Value:
													input.form-control(type="text", ng-model="query.value" typeahead="value for value in getQuery(query.key, $viewValue)")

