extends ../template
block js
	if freezer
		script(type='text/javascript').
			var local_freezer = !{JSON.stringify(freezer)};
			var sampletypes = !{(sampletypes) ? JSON.stringify(sampletypes) : 'null'};
	else
		script(type='text/javascript').
			var local_freezer = null;

	script(src='/js/controllers/freezer_about_controller.js')

block content
	#page-wrapper(ng-controller="freezerAboutController")
		.container-fixed
			.row
				h1.page-header.col-md-12
					.row
						.col-sm-9
							span Freezer Room - {{freezer.name}}
						.col-sm-3
							a.btn.btn-custom.btn-lg(href='/freezers') Back
			.row(ng-show='level>0')
				.col-md-12
					ol.breadcrumb
						li.active(ng-show='crum.level <= level', ng-repeat='crum in breadcrumbs')
							span(ng-show='crum.level == level') {{crum.name}}
							a(ng-show='crum.level != level', ng-click='setLevel(crum.level)') {{crum.name}}

			a.btn.btn-custom.btn-lg.pull-right(ng-show='level>0', ng-click="setLevel(level-1)") Up
			//- a.btn.btn-primary.btn-sm.pull-left(ng-disabled='statsLoading', ng-click="reloadStats()") Reload Samples
			//- 	span.glyphicon.glyphicon-refresh(style='margin-left:10px')

			.row(ng-show='level==0')
				.col-md-8
					.panel.panel-primary
						.panel-heading 
							h3.panel-title Choose a Shelf:
						.panel-bodyspan
							#freezerBox
								a.box1(ng-style='getColor(address.length-$index-1)', ng-click="downLevel(0,(address.length - 1 - $index))", ng-repeat='shelf in address track by $index')
									.row
										h1 Shelf {{address.length - $index}}
											small 
												i(style='color:#000') {{freezer.shelves[$index].tube_size.name}}
										h6.text-center(ng-show='stats[address.length-$index-1] != null',style='color:black')
											| Samples: {{stats[address.length-$index-1].samples}}
											| Space: {{stats[address.length-$index-1].free}}
										h6.text-center(ng-show='stats[address.length-$index-1] == null',style='color:black')
											| Loading Samples...
			.row(ng-show='level==1')
				.col-md-10
					.panel.panel-primary
						.panel-heading 
							h3.panel-title Choose a Rack:
						.panel-body
							#shelfBox
								.row		
									a.col-xs-2.box2(ng-style='getColor($index)',ng-click='downLevel(1, $index)', ng-repeat='rack in address[location.shelf-1] track by $index')
										h1 {{$index+1}}
										h6.text-center(ng-show='stats[$index] != null',style='color:black')
											| Samples: {{stats[$index].samples}}
											| Space: {{stats[$index].free}}
										h6.text-center(ng-show='stats[$index] == null',style='color:black')
											| Loading Samples...
			.row(ng-show='level==2')
				.col-md-8
					.panel.panel-primary
						.panel-heading 
							h3.panel-title Choose a Drawer:
						.panel-body
							#freezerBox
								a.box1(ng-style='getColor($index)',ng-click='downLevel(2, $index)', ng-repeat='drawer in address[location.shelf-1][location.rack-1] track by $index')
									h1 {{$index+1}}
									h6.text-center(ng-show='stats[$index] != null',style='color:black')
										| Samples: {{stats[$index].samples}}
										| Space: {{stats[$index].free}}
									h6.text-center(ng-show='stats[$index] == null',style='color:black')
										| Loading Samples...
			.row(ng-show='level==3')
				.col-md-10
					.panel.panel-primary
						.panel-heading 
							h3.panel-title Choose a Box:
						.panel-body
							#shelfBox
								.row.row-centered
									a.col-sm-2.col-centered.box2.small(ng-style='getColor($index)', ng-click="downLevel(3, $index)", ng-repeat='box in address[location.shelf-1][location.rack-1][location.drawer-1] track by $index')
										h1 {{$index+1}}
										h7.text-center(ng-show='stats[$index] != null',style='color:black')
											| Samples: {{stats[$index].samples}}
											| Space: {{stats[$index].free}}
										h7.text-center(ng-show='stats[$index] == null',style='color:black')
											| Loading Samples...
			.row(ng-show='level==4')
				.col-md-12
					include freezer_samples
