extends ../template
block js
	

block content
	#page-wrapper
		.container-fixed
			.row
				h1.page-header.col-md-12
					.row
						.col-sm-9
							span Freezers
						.col-sm-3
							a.btn.btn-custom.btn-lg(href='/freezer/create') Create					
			
			if freezers && freezers.length > 0
				.row
					.col-md-12.col-sm-12
						.panel.panel-primary
							.panel-heading 
								h3.panel-title Choose a Freezer
							.panel-body
								each freezer in freezers
									.col-md-4.col-sm-6
										a.btn.btn-sm.btn-success.pull-left(style='margin:10px', href='/freezer/'+freezer.id+'/edit') Edit
										a.thumbnail.freezer(href="freezer/"+freezer.id)
											img(src="images/freezer.png", alt="freezer img", class="img-freezer")
											h3.caption.text-center(style='text-decoration:none')= freezer.name
												

						
		
			
						
			
				
					