extends ../template
block js
	if edit && freezer
		script(type='text/javascript').
			var local_freezer = !{JSON.stringify(freezer)}; 
	else
		script(type='text/javascript').
			var local_freezer = null;

	script(src='/js/controllers/freezer_create_controller.js')
block content
	#page-wrapper.container-fluid(ng-controller="freezerController")
		.row
			.col-lg-12
				h1.page-header Add Freezer
		if tubesizes.length == 0
			.row
				h1.text-center
					b Note:
					| You Must Add Tube Sizes First!
		else 
			.row
				.col-md-12
					.panel.panel-primary
						.panel-heading Freezer Details:
						.panel-body
							form(role="form")
								.form-group
									label Freezer Name:
									input.form-control(type="text",ng-model='freezer.name' placeholder="Enter Name")
								.row
									.col-sm-8
										label Shelves: {{shelves.length}}
										.input-group
											input.form-control(type="number", disabled, ng-model='freezer.shelves.length')
											span.input-group-btn
												button.btn.btn-default(type="button", ng-click="addShelf()")
													span.glyphicon.glyphicon-plus
												button.btn.btn-default(type="button",ng-disabled='freezer.shelves.length<1', ng-click='freezer.shelves.splice(shelves.length-1,1)')
													span.glyphicon.glyphicon-minus
									.col-md-4
										p
											b Total Samples
											h2 {{getFreezerTotal() | number}}
							.row.two
								.col-sm-12
									.container-fluid(ng-repeat="shelf in freezer.shelves track by $index")
										.col-sm-1
											div
												a.btn-custom.btn-md.btn(ng-click='freezer.shelves.splice($index,1)')
													span.glyphicon.glyphicon-remove
										.well.well-sm.col-sm-11
											.row
												.form-group
													.col-sm-2
														label Racks
														input.form-control(type="number", ng-model='shelf.num_racks')
													.col-sm-2
														label Drawers
														input.form-control(type="number", ng-model='shelf.num_drawers')
													.col-sm-2
														label Boxes
														input.form-control(type="number", ng-model='shelf.num_boxes')
													.col-sm-2
														label Box Dimensions
														select.form-control(ng-model='shelf.box_dim', ng-options='dia.name for dia in box_dimensions')
													.col-sm-2
														label Tube Size
														select.form-control(ng-model='shelf.tube_size')
															each tube in tubesizes
																option(value=tube._id)= tube.name
													.col-sm-2
														p.text-center 
															b Total Samples:
														h3.text-center{{getShelfTotal($index)}}
							.row(style='margin-top:10px')
								.col-sm-2
									a.btn.btn-custom.btn-lg(href='/freezers') 
										span.glyphicon.glyphicon-arrow-left(style='margin-right:5px')
										span Back
								.col-sm-2.pull-right
									a.btn.btn-custom.btn-lg(ng-click='onSubmit()', ng-disabled="freezer.name =='' || freezer.shelves.length <=0 ") 
										span(style='margin-right:5px') Save
										span.glyphicon.glyphicon-floppy-disk

