.printable
	h1 Samples Details
	h2 Donation Taken: Thu Oct 23 2014
	.row
		.col-md-12
			.panel.panel-primary
				.panel-heading
					.row
						.col-md-12
							h4 Samples Storage Details:
				.panel-body
					.row
						.col-md-12
							table.table.table-bordered
								thead
									tr
										th.text-center Label
										th.text-center Freezer
										th.text-center Shelf
										th.text-center Rack
										th.text-center Drawer
										th.text-center Box
										th.text-left Address
										th.text-center Type
								tbody
									tr
										td 12233P
										td.col-md-3.text-center freezer 1
										td.text-center 2
										td.col-md-1.text-center 2
										td.col-md-1.text-center 3
										td.col-md-1.text-center 3
										td.col-md-2.text-center A1
										td.col-md-3.text-center Plasma
	.row.printNow
		.col-md-12
			button.btn.btn-primary.pull-left(onclick="window.print()")
				span.glyphicon.glyphicon-print(style='margin-right:10px')
				| Print PDF
