.table-responsive
	table.table
		thead
			tr
				th.text-center Label
				th.text-center Freezer
				th.text-center Shelf
				th.text-center Rack
				th.text-center Drawer
				th.text-center Box
				th.text-left Address
				th.text-center Type
		tbody
			each sample in donation.samples
				tr
					td= sample.label
					td.col-md-3.text-center
						if (sample.location.freezer && sample.location.freezer.name)
							a#changeName.dontPrint1(href='/freezer/'+sample.location.freezer.id)
								=sample.location.freezer.name
						b.doPrint1= sample.location.freezer.name
					td.text-center= sample.location.shelf+1
					td.col-md-1.text-center= sample.location.rack+1
					td.col-md-1.text-center= sample.location.drawer+1
					td.col-md-1.text-center= sample.location.box+1
					if sample.location.box_location
						td.col-md-2.text-left= String.fromCharCode(65+sample.location.box_location.x) + " - " + (sample.location.box_location.y+1)
					td.col-md-2.text-center
						span(style='margin-right:10px')= sample.type.name
						.sample.small-sample.dontPrint1(style='background-color:'+sample.type.color)
					td.col-md-3.text-center.dontPrint1
						.btn-group
							a.btn-danger.btn.btn-xs(ng-click="deleteSample('"+sample.id+"')")
								span.glyphicon.glyphicon-remove
							a.btn-success.btn.btn-xs(type="button", ng-click='editModal("'+sample._id+'","'+sample.label+'",'+JSON.stringify(sample.type)+')')
								span.glyphicon.glyphicon-pencil