.modal.fade#sampleModal(tabindex="-1", role="dialog", aria-labelledby="sampleModal",aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true")&times
					span.sr-only Close
				h4.modal-title {{(sampleEdit) ? "Edit" : "Add"}} Sample {{(sampleLabel) ? "- "+sampleLabel : ""}}
			.modal-body
				.container-fixed
					.row
						.col-md-2
							label Type:
						.col-md-8
							select.form-control(ng-model='sampleType', ng-options='sample.name for sample in sampleTypes')
						.col-md-2
							.sample(style='padding: 0px;display: block;height: 50px;width: 50px;background-color:{{sampleType.color}}')
					.row(ng-hide='sampleEdit')
						.col-md-2
							label Freezer:
						.col-md-8
							select.form-control(ng-model='freezer', ng-options='freezer.name for freezer in freezers')
							
			.modal-footer
				button.btn.btn-success.pull-left(ng-click='onSubmit()')
					span {{(sampleEdit) ? "Update" : "Create"}}
				button.btn.btn-danger.pull-righ(type="button",data-dismiss="modal")
					span Close