extends ../template
block js
	script(src='/js/controllers/survey_result_controller.js')
block content
	#page-wrapper.container-fluid(ng-controller="surveyResultController")
		h1.page-header
			.row
				.col-lg-10
					span Add Survey
					small(style='margin-left:10px')=survey.title
				.col-lg-2
					a.btn.btn-custom.btn-small(href='/sample/details/'+donation._id) Back
		
		.row
			.container-fluid
				include ../survey_form/survey_layout
					